# IDE
.idea

# dependencies
node_modules

# testing
coverage
.nyc_output

# documentation
docs

# misc
.DS_Store
.env
npm-debug.log
.cache
.editorconfig
.travis.yml
tsconfig.json
typedoc.json

# Sources
src
test
